

@import url('https://fonts.googleapis.com/css?family=Bungee+Outline');
@import url('https://fonts.googleapis.com/css?family=Bungee');


@font-face {
  font-family: 'Bungee Outline', sans-serif;
}


#canvas {
  border: 1px solid black;
  margin: 30px 0 0;
  /* cursor: url(images/crosshairs.png) , crosshair; */
}

.gameArea {
  display: flex;
  align-items: center;
  justify-content: center;
}

