@font-face {
  font-family: 'GameOver';
  src: url('jenniferroberts/Library/Fonts-Bold/Gameover.otf'), format('truetype');
  }


  canvas {
  border: 1px solid black;;
  /* cursor: url(images/crosshairs.png) , crosshair; */
}

.gameArea {
  margin: 50px;
}

